@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #09090b;
  --primary: #4f46e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "cv02", "cv03", "cv04";
}

::selection {
  background-color: rgba(79, 70, 229, 0.1);
  color: var(--primary);
}
